<section class="container-fluid">
    <div id="marginTopT" class="row h-50">
        <div class="col-md-5   ml-lg-4  mr-auto ">

            <table class="table table-sm table-striped table-hover bg-light">

                <thead class=" thead-dark ">
                    <tr>
                        <th scope=" col ">Fam</th>
                        <th scope=" col">code</th>
                        <th scope="col">Libelé</th>
                        <th scope="col">Reference</th>
                    </tr>
                </thead>
                <tbody>
                    <% TM.forEach(function (element) { %>
                    <tr>
                        <th scope="row"> 1</th>
                        <td><%= element.Magasin %></td>
                        <td><%= element.Reference %></td>
                        <td>lol</td>
                    </tr>
                    <% } ) %>
                </tbody>
            </table>
        </div>
    </div>

</section>