<section>

  <div class="row mt-5">
    <div class="col-md-5 ml-lg-4 mr-auto">
      <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
        <table class=" table table-hover table-striped mb-0  bg-light">
          <thead class="thead-dark">
            <tr>
              <th scope="col ">Fam</th>
              <th scope="col">code</th>
              <th scope="col">Libelé</th>
              <th scope="col">Reference</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i =0; i<20; i++ ) { %>
            <tr>
              <th scope="row"> <%- i %></th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>