<section class="container-fluid">
    <div id="marginTopT" class="row h-50">
        <div class="col-md-5   ml-lg-4  mr-auto ">

            <form action="/ficheMatiere/sortie" method="POST">
                <table class="table table-sm table-striped table-hover bg-light">

                    <thead class=" thead-dark ">
                        <tr>
                            <th scope=" col ">Magasin</th>
                            <th scope=" col ">Code</th>
                            <th scope=" col">Designation</th>
                            <th scope="col ">Quant stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i<20 ; i++) { %>
                        <tr>
                            <th scope="row">
                                <input type="text" name="Magasin" class="form-control"
                                    value="<%= typeof Magasin != 'undefined' ? Magasin : '' %> " />

                            </th>

                            <td>
                                <input type="text" name="Reference" class="form-control"
                                    value="<%= typeof Reference != 'undefined' ? Reference : '' %> " required />

                            </td>
                            <td>
                                <input type="text" name="Designation" class="form-control"
                                    value="<%= typeof Designation != 'undefined' ? Designation : '' %>" />

                            </td>

                            <td>
                                <input type="text" name="Q_Stock" class="form-control"
                                    value="<%= typeof Q_Stock != 'undefined' ? Q_Stock : null  %>" />

                            </td>
                        </tr>
                        <% }  %>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary btn-block ">
                    Enregistrer
                </button>
            </form>
        </div>

    </div>


</section>