body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.bg {
	/* The image used */
	background-image: url('/images/img2.jpg');

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}




tbody {
	display: block;
	height: 535px;
	overflow: auto;
	width: auto;
}

thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

tbody td {

	width: auto;
	text-align: center;
}

#marginTopL {
	margin-top: 150px;
}

#marginTopT {
	margin-top: 80px;
}